<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T</title>
</head>
<body>

<form action="/">
    <input type="text"
           name="name"
           placeholder="Enter faculty name">
    <br>
    <select name="universityId" id="">
        <option value="">Select university</option>
        <option value="1">Milliy</option>
        <option value="2">TATU</option>
        <option value="3">Inha</option>
    </select>

    <button>Save</button>


</form>

</body>
</html>